Repository codeforpdx/tenantfirstaid, pull requests merged in 2025-06, with the labels that each got.

#84 Feature: Highlighting ORS Statutes from generated text
  frontend/src/pages/Chat/components/MessageContent.tsx
Labels: enhancement, frontend

#90 Feature: Add Statute Annotation Drawer
  frontend/src/Chat.tsx
  frontend/src/pages/Chat/components/MessageContent.tsx
  frontend/src/pages/Chat/components/MessageWindow.tsx
  frontend/src/pages/Chat/components/StatuteDrawer.tsx
Labels: frontend

#100 Feature: Fetch statute details from API
  frontend/src/Chat.tsx
  frontend/src/hooks/useStatutes.tsx
  frontend/src/pages/Chat/components/MessageContent.tsx
  frontend/src/pages/Chat/components/StatuteDrawer.tsx
Labels: enhancement, frontend

#110 Update site theme colors
  frontend/src/AboutPage.tsx
  frontend/src/Chat.tsx
  frontend/src/pages/Chat/components/ExportMessagesButton.tsx
  frontend/src/pages/Chat/components/InputField.tsx
  frontend/src/pages/Chat/components/MessageWindow.tsx
  frontend/src/pages/Chat/components/Navbar.tsx
  frontend/src/pages/Chat/components/StatuteDrawer.tsx
  frontend/src/style.css
Labels: UX design, frontend

#109 instructions for Python checks, now with more checks enabled
  .github/workflows/pr-check.yml
  README.md
  backend/Makefile
  backend/scripts/eval.py
  backend/scripts/extract_sections.py
  backend/tenantfirstaid/prepare_training.py
Labels: backend

#113 Run GH-Action PR-Checks on merge; also show GH-Action badges
  .github/workflows/pr-check.yml
  README.md
  backend/pyproject.toml
  backend/scripts/generate_conversation/chat.py
  backend/uv.lock
Labels: documentation, backend

#117 Add test for citations.py
  backend/tests/test_citations.py
Labels: backend

#118 add test for session.py
  backend/pyproject.toml
  backend/tests/test_session.py
  backend/uv.lock
Labels: backend

#124 some working tests but 1 is still broken
  backend/tenantfirstaid/session.py
  backend/tests/test_session.py
Labels: bug, backend

#123 Enhancement: Update CitySelectField state management
  frontend/src/contexts/SessionContext.tsx
  frontend/src/pages/Chat/components/CitySelectField.tsx
Labels: enhancement

#126 Feature: Disclaimer Page
  frontend/src/About.tsx
  frontend/src/App.tsx
  frontend/src/Disclaimer.tsx
  frontend/src/pages/Chat/components/Navbar.tsx
  frontend/src/shared/components/BackLink.tsx
Labels: frontend

#131 Feature: Privacy Policy Page
  frontend/src/App.tsx
  frontend/src/Disclaimer.tsx
  frontend/src/PrivacyPolicy.tsx
  frontend/src/pages/Chat/components/Navbar.tsx
Labels: frontend

#143 Enhancement: Changing input field into textarea
  frontend/src/pages/Chat/components/InputField.tsx
  frontend/src/pages/Chat/components/MessageWindow.tsx
  frontend/src/pages/Chat/components/SuggestedPrompts.tsx
Labels: enhancement, frontend

#144 check on push to main branch and releases
  .github/workflows/pr-check.yml
Labels: enhancement

#120 upgrade Python/uv dependencies
  .github/workflows/pr-check.yml
  backend/pyproject.toml
  backend/uv.lock
Labels: backend

#155 Enhancement: Add logos to frontend
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/pages/Chat/components/CitySelectField.tsx
  frontend/src/pages/Chat/components/Navbar.tsx
  frontend/src/shared/components/BeaverIcon.tsx
  frontend/src/shared/components/TenatFirstAidLogo.tsx
Labels: frontend

#157 feat: add line to reject unrelated questions
  backend/tenantfirstaid/chat.py
Labels: enhancement, backend

#158 Enhancement: Include disclaimers for chat window
  frontend/src/Chat.tsx
Labels: frontend
