Repository codeforpdx/tenantfirstaid, pull requests merged in 2025-08, with the labels that each got.

#166 Switch OpenAI -> Gemini
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.staging.yml
  .github/workflows/generate_conversations.yml
  .github/workflows/pr-check.yml
  .gitignore
  backend/.env.example
  backend/pyproject.toml
  backend/scripts/documents/or/ORS109.txt
  backend/scripts/documents/or/ORS659A.txt
  backend/scripts/documents/or/eugene/EHC8.425.txt
  backend/scripts/documents/or/portland/PCC30.01.txt
  backend/scripts/generate_conversation/chat.py
  backend/scripts/generate_conversation/tenant_questions_facts_full.csv
  backend/scripts/generate_conversation/tenant_questions_facts_with_new_conversations.csv
  backend/tenantfirstaid/chat.py
  backend/tenantfirstaid/session.py
  backend/tests/test_chat.py
  backend/uv.lock
  frontend/src/About.tsx
  frontend/src/hooks/useMessages.tsx
  frontend/src/pages/Chat/components/CitySelectField.tsx
  frontend/src/pages/Chat/components/InputField.tsx
  frontend/src/pages/Chat/components/MessageContent.tsx
  frontend/src/pages/Chat/components/MessageWindow.tsx
Labels: enhancement, backend, frontend

#159 Typecheck scripts too
  backend/Makefile
  backend/pyproject.toml
  backend/scripts/create_vector_store.py
  backend/tenantfirstaid/chat.py
  backend/tenantfirstaid/session.py
  backend/uv.lock
Labels: backend

#177 Add comprehensive architecture documentation
  Architecture.md
Labels: documentation, help wanted, backend, frontend, RFC

#183 Add Documentation checklist to PR template
  .github/pull_request_template.md
Labels: documentation

#179 fix: implement CORS security to prevent unauthorized cross-origin requests
  backend/pyproject.toml
  backend/tenantfirstaid/app.py
  backend/uv.lock
Labels: bug, backend
